
<form
    [formGroup]="fg"
    (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" class="form-control" placeholder="Ingresar nombre"
            [formControl]="fg.controls['nombre']">
        <ul>
            <li *ngFor="let r of searchResults;">{{r}}</li>
        </ul>
        <div *ngIf="!fg.controls['nombre'].valid">Nombre requerido</div>
        <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')">Nombre inválido</div>
        <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')">El nombre debe tener almenos {{ minLong }} caracteres</div>
    </div>
    <div class="form-group">
        <label for="Imagen Url">Imagen URL</label>
        <input type="text" id="imagenUrl" class="form-control" placeholder="Ingresar URL de imagen"
            [formControl]="fg.controls['url']">
        <div *ngIf="fg.controls['url'].hasError('required')">URL requerida</div>
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar</button>
</form>
        